.custom-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-modal-content {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  